.carousel-control {
  padding-top:10%;
  width:5%;
}


.thumbnail {
  margin-bottom: 0px;
}

.well {
  padding: 10px;
}

.carousel-caption {
  bottom: -25px;
}

div.thumbnail.current {
  background-color: #5cb85c;
}